/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body{ 
    background: black;
    font: 16px/1.6 'Fugaz One', cursive;
}
body p{ 
    color: #ffffff;
    font: 16px/1.6 'Fugaz One', cursive;
}
h1 { 
    color: #72b4ac;
    font-size: 28px;
    margin: 15px 0 15px;
}
h2 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 0;
}
h3 { 
    color: #72b4ac;
    font-size: 20px;
    margin-top: 0;
}
h4 { 
    color: #72b4ac;
    font-size: 18px; 
    margin-top: 0;
}


/* Top Bar Section */
.top-bar { 
    background: #72b4ac;
    color: #fff; 
    padding: 0px 0;
    max-height: 80px;
}

img.cc-icon { 
    position: relative;
    right:35px;
    top:31px;
}

.hours { 
    bottom: 25px;
}

.phone {
    text-decoration: none;
}

/* Social Widgets */
.social-media-icons ul{ 
    padding: 0;
    margin: 0;
}
.social-media-icons ul li { 
    list-style-type: none;
    display: inline; 
    margin: 0 5px 0; 
    border-radius: 5px; }
.social-media-icons ul li:hover { 
    background-color: #72b4ac;
}

/* Header - Main Menu */
.menu-area { 
    background:#9A9DA0;
    padding: 0px 0;
    max-height: 200px
}
.main-menu ul { 
    list-style: none; 
    padding: 0;
    margin: 0;
    font-size: 24px;
}
.main-menu ul li:hover { 
    color: #72b4ac;
}
.main-menu ul li { 
    display: inline;
    margin: 0 20px 0 0;
}
.main-menu ul li:last-child { 
    margin: 0;
}
.main-menu ul li a { 
    text-transform: uppercase;
    color: #ffffff; 
    text-decoration: none;
}
.main-menu ul li.current-menu-item a { 
    color:#72b4ac;
}
ul#menu-top-menu { 
    right: -60px;
}
#menu-top-menu { 
    position: relative;
    top: -128px;
}

/* Homepage logo */
img.custom-logo { 
    position: relative;
    right: 80px;
} 

@media only screen and (max-width: 1024px) {
    .main-menu ul li {
        display: inline;
        margin: 0 5px 0 0;
    }
    ul#menu-top-menu {
        right: -50px;
    }
    .hours {
        bottom: 28px;
        left: 27px;
    }
    .footer-menu ul {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    img.custom-logo {
        position: relative;
        right: 70px;
    }
    .hours {
        bottom: 28px;
        left: 27px;
    }
    ul#menu-top-menu {
    right: -30px;
    }
    .main-menu ul li {
        display: inline;
        margin: 0 5px 0 0;
    }
    .footer-menu ul {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .hours {
        bottom: 65px;
        left: 140px;
    }
    .footer-menu ul {
        display: none;
    }
    img.cc-icon {
        position: relative;
        left: 96px;
        top: 33px;
    }
    img.custom-logo {
        display: block;
        margin-left: 160px;
    }
}

@media only screen and (max-width: 375px) {
    img.custom-logo {
        display: block;
        margin-left: 145px;
    }
    img.cc-icon {
        position: relative;
        right: -95px;
        top: 31px;
    }
    .hours {
        bottom: 65px;
        left: 130px;
    }
    .footer-menu ul {
        display: none;
    }
}

/* Slider */
.slide { 
    padding: 25px 0;
}

/* Services */
.services { 
    background: #4c1b1b;
    padding: 25px 0;
    color: #72b4ac;
    border-radius: 5px;
}
.services h1 { 
    text-align: center;
    color: #0a0a0a; 
    text-transform: uppercase; 
    font-size: 28px; 
}
.services .widget-wrapper { 
    text-align: center;
}
.services .widget-wrapper h2 { 
    text-transform: uppercase; 
    font-size: 1.2em; 
    color: #0c0c0c; 
    font-weight: 200; 
}
.services .widget-wrapper:first-child { 
    padding: 15px 0; 
}
.services h2 { 
    color: #0a0a0a;
    font-size: 24px; 
    margin-top: 0;
}
.services .widget-wrapper > img { 
    border: 15px solid #FFF;
}

/* Middle Area */
.middle-area { 
    background: #0a0a0a; 
    padding: 15px 5px 55px; 
    margin-bottom: -29px; 
}
.middle-area h1{ 
    color: #72b4ac; 
    text-transform: uppercase; 
}

/* Middle Area - Sidebar */
.sidebar { 
    background: #72b4ac; 
    padding: 20px; 
    margin: 0 0 30px;  
}

/* Footer */
footer { 
    background: rgb(3, 3, 3); 
    padding: 15px 0; 
    color: #ffffff;
}

/* Footer - Footer Menu */
.footer-menu ul { 
    list-style: none;
    padding: 0; 
    margin: 0; 
    font-size: 20px; 
    text-align: center;
}
.footer-menu ul li { 
    display: inline;  
    margin: 0 15px 0 0;
}
.footer-menu ul li:last-child { 
    margin: 0; 
}
.footer-menu ul li a { 
    color: #dad9d4;  
    text-decoration: none;
}
.footer-menu ul li.current-menu-item a { 
    color:#72b4ac; 
}

/* Blog */
.wp-post-image{ 
    float: left; 
    margin: 0 15px 10px 0;
}
.format-image h2 { 
    color: #fff;
    background: #717171;
    padding: 15px;
}
.format-video h2 { 
    color: #fff;
    background: #211e1e;
    padding: 15px; 
}
.format-standard h2 { 
    color: #72b4ac;
    background: #d2d2d2; 
    padding: 15px;
}
.blog article { 
    display: inline-block;
    margin: 0 0 30px;
    width: 100%;
}
.blog article h2 { 
    margin-bottom: 15px;
}
.blog article p > img {
    width: 100%; 
    height: auto; 
}
.blog .meta-info p { 
    line-height: 1em;
    font-weight: bold;
}
.blog .meta-info p > a{ 
    color: #9d9d9d;
    font-weight: normal;
}

/* Homepage styles ~ Background Image */
.page-id-24 .content-area .middle-area { 
    background-image: url('/wp-content/uploads/2018/10/sopris.jpg');
    background-size: cover;
    min-height: 800px; 
}
.homepage-template p { 
    font-family: 'Fugaz One', cursive;
    font-size: 1.5em; 
    color: #fff;
    font-weight: 700; 
    padding-top: 20px;
}

/* Service Page */
.page-id-8 .content-area { 
    background-image: url('/wp-content/uploads/2018/10/service-page-background.jpg');
}

.page-id-8 .left li { 
    color: #fff;
}

@media only screen and (max-width: 414px) {
    .col-md-4.left,
    .col-md-4.center,
    .col-md-4.right {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .col-md-4.left,
    .col-md-4.center,
    .col-md-4.right {
        text-align: center;
    }
}


/* Demo Page */
.page-id-179 .middle-area {
    background: black;
    padding-top: 12px;
    margin-bottom: -29px;
}

.page-id-179 .img {
    align-content: center;
    text-align: center;
    max-height: 200px;
    max-width: 300px;
}

.page-id-179 h1 {
    text-align: center;
}
.page-id-179 h3 { 
    text-align: center; 
}
.page-id-179 p {
    text-align: center;
}

/* Bikes Page */
.page-id-6 p { 
   padding: 5px 3px 20px;
   font-size: 14px;
}
.page-id-6 .middle-area {
    padding: 0px 0px 0px;
}
.page-id-6 p.revert {
    font-size: 18px;
}
.page-id-6 .footer {
    position: fixed;
}
img.surly-img {
    max-height: 148px;
}
img.why-img {
    max-height: 148px;
}
img.cervelo-img {
    max-height: 100px;
}
img.all-city-img {
    max-height: 75px;
}
.bike-brands { 
    padding-top: 60px;
}

.bike-lines {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    min-height: 150px;
    width: 90%;
    height: 100%;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.one-of-three {
    float: left;
    width: 33.33%;
}

.two-of-three {
    float: left;
    width: 33.33%;
}

.three-of-three {
    float: left;
    width: 33.33%;
}

.container-top {
    display: table;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    img.cervelo-img {
        max-height: 90px;
    }
    img.all-city-img {
        max-height: 66px;
    }
}

@media only screen and (max-width: 768px){
    img.cervelo-img {
        max-height: 62px;
    }
    img.why-img {
        max-height: 140px;
    }
    img.all-city-img {
        max-height: 48px;
    }

}

@media only screen and (max-width: 414px) {
    img.rocky-img {
        max-height: 60px;
    }
    img.kona-img {
        max-height: 11px;
    }
    img.moots-img {
        max-height: 17px;
    }
    img.salsa-img {
        max-height: 20px;
    }
    img.surly-img {
        max-height: 90px;
    }
    img.why-img {
        max-height: 80px;
    }
    img.cervelo-img {
        max-height: 30px;
    }
    img.all-city-img {
        max-height: 23px;
    }
    img.surly-img {
        max-height: 80px;
    }
    .page-id-6 p {
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 375px) {
    img.rocky-img {
        max-height: 60px;
    }
    img.kona-img {
        max-height: 11px;
    }
    img.moots-img {
        max-height: 17px;
    }
    img.salsa-img {
        max-height: 20px;
    }
    img.surly-img {
        max-height: 90px;
    }
    img.why-img {
        max-height: 80px;
    }
    img.cervelo-img {
        max-height: 30px;
    }
    img.all-city-img {
        max-height: 23px;
    }
    img.surly-img {
        max-height: 80px;
    }
    .page-id-6 p {
        text-overflow: ellipsis;
    }
}

/* Staff Page */
.page-id-12 h2 {
    color: #72b4ac;
    font-size: 30px; 
    text-transform: uppercase; 
    font-weight: bold; 
    text-align: center; 
    padding-bottom: 25px;
}
.tmm .tmm_names {
    color: #72b4ac; 
    font-size: 20px; 
    margin-top: 0; 
    font-weight: bold;
}    
.tmm_desc p { 
    color: black;
}

.tmm_member {
    border-radius: 45px;
}


/* Fit Page */
/* Three image containers (use 33.33% for 3, use 25% for four, and 50% for two, etc) */
.fit-column {
  flex: 33%;
  padding: 5px;
}

.fit-row {
  display: flex;
}

@media only screen and (max-width: 414px) {
    .fit-row {
        text-align: center;
        display: list-item;
    }
}

@media only screen and (max-width: 375px) {
    .fit-row {
        text-align: center;
        display: list-item;
    }
}

/* Contact Page */
.contact-img {
    float: right;
    position: relative;
    bottom: 40px;
}

.page-id-16 .middle-area {
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    .page-id-16 h2 {
        text-align: center;
    }
    .page-id-16 .middle-area h1 {
        text-align: center;
    }
    .page-id-16 p {
        text-align: center;
    }
    .contact-img {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .contact-img {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .contact-img {
        display: none;
    }
}